.can {
  margin: auto;
  width: 98%;
  height: 100vh;
  display: grid;
  grid-gap: 0.9em;
  grid-template-columns: 100%;
  grid-template-rows: 20% 55%;
}
.can canvas {
  width: 98%;
  margin: auto;
}

